<template>
  <div class="page-account" @click="pageClick">
    <div class="account-area-box">
      <div class="account-area">
        <!-- 翻页 -->
        <div class="page-box">
          <span class="pageup" 
            @click = "prevPage"
            @mousedown="prevDown"
            @mouseup="prevUp"
            :class="prevClass"
          >
          </span>
          <span class="pagedown" 
            @click = "nextPage"
            @mousedown="nextDown"
            @mouseup="nextUp"
            :class="nextClass"
          >
          </span>
        </div>
        <div class="account-show">
          <div class="info-list clearfix">
            <div class="i-div">
              <label class="div-name">手机号</label>
              <div class="div-item" v-text="myTelephone"></div>
            </div>
            <div class="i-div">
              <label class="div-name">掌购币</label>
              <div class="div-item">￥{{countMoney}}</div>
            </div>
            <div class="i-div">
              <label class="div-name">积分</label>
              <div class="div-item" v-text="countScore"></div>
            </div>
          </div>
          <div class="tips">如需疑问，请下载掌购便利APP进行查询或者人工服务查询</div>
          <div class="custom-list">
            <div class="top-barout">
              <img src="~@/assets/images/account_slide.png" alt="">
            </div>
            <div class="top-barin">
              <img src="~@/assets/images/account_slide2.png" alt="">
            </div>
            <div class="list-area-box">
              <div class="list-area" :class="listClass">
                  <div class="main">
                    <h1 class="main_h1">
                      <span class="xfju">{{currentYear}}年{{activeMonth}}月账单情况</span>
                      <span class="xfju-page" v-show="count">第<i>{{this.page}}</i>页 共<strong>{{this.pages}}</strong>页</span>
                      <div class="rili">
                        <img src="~@/assets/images/rili_btn.png" alt=".."
                          @click = "showMonth"
                        >
                        <div class="month-div" v-show="showList">
                          <div class="select-item" 
                            v-for="(month,index) in this.getMonths" 
                            :key="index"
                            @click = "selectMonth(index)"
                            @mousedown="downMonth"
                            @mouseup="upMonth"
                          >
                            <span>{{month}}</span>月
                          </div>
                        </div>
                      </div>
                    </h1>
                      <!-- 消费记录 -->
                      <ul class="cus-area">
                        <li class="cus-list clearfix"
                          v-for = "(item, index) in changeData" :key="index"
                          v-show="changeData.length"
                        > 
                          <span class="date">{{item.createTime.split(' ')[0].substring(5).replace(/\-/g, '月')+'号'}}</span> 
                          <span class="time">{{item.createTime.split(' ')[1]}}</span> 
                          <span class="pic">
                            <img src="~@/assets/images/chong.png" alt="" v-show="parseFloat(item.money) > 0">
                            <img src="~@/assets/images/xiao.png" alt="" v-show="parseFloat(item.money) < 0">
                          </span> 
                          <span class="money"><strong v-show="parseFloat(item.money) > 0">+</strong>{{parseFloat(item.money).toFixed(2)}}<span :class="{'chong': parseFloat(item.money) > 0}">({{item.addTypeName}})</span></span> 
                          <span class="datail">{{item.payTypeName}}</span>
                          <span class="remain">{{parseFloat(item.remainMoney).toFixed(2)}}<span>(账户余额)</span></span>
                        </li>
                        <li class="cus-list-empty" v-show="!count">
                          本月您没有资金流水记录
                        </li>
                      </ul>
                  </div>
                  <div class="bottom-img">
                    <img src="~@/assets/images/cus_bottom.png" alt="">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="back-box">
        <div class="pay-btn bounceInDown animated" @click.stop="goPay"></div>
        <div class="back-btn fadeIn animated slow"
          @click.stop="backHome"
          @mousedown="backDown"
          @mouseup="backUp"
          :class="backClass"
        ></div>
      </div>
    </div>
    <div class="account-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>
<script>
import {addClass, removeClass} from '@/assets/js/handleClass.js'
import { mapState, mapGetters } from 'vuex'
import http from '@/axios/http'
export default {
  name: 'account',
  data () {
    return {
      activeMonth: '',
      getMonths: [],
      getMonthsC: [],
      year: '',
      currentYear: '',
      itime: '',
      showList: false,
      page: 1,
      pages: 1,
      limit: 4,
      count: 0,
      changeData: [],
      listActive: false,
      aniTimer: null,
      page_top: false,
      page_bottom: false,
      time: 60,
      timer: null,
      backActive: false
    }
  },
  watch: {},
  computed: {
    ...mapState([
      'accountId'
    ]),
    ...mapGetters([
      'countName',
      'myTelephone',
      'countMoney',
      'countScore'
    ]),
    listClass () {
      return {
        'active': this.listActive
      }
    },
    backClass () {
      return {
        'active': this.backActive
      }
    },
    prevClass () {
      return {
        'pageup-active': this.page_top
      }
    },
    nextClass () {
      return {
        'pagedown-active': this.page_bottom
      }
    }
  },
  created () {
    this.gotAccountInfo();
    this.gotAccount();
  },
  mounted () {
    this.getTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    gotAccountInfo () {
      http.post('/userInfo/GetMyInfo.do', {
        userId: this.accountId,
      }).then((result) => {
        if (parseInt(result.status) === 1) {
          let userData = result.data.userData;
          let firstCharge = result.firstCharge;
          let values = {
            userData: userData,
            firstCharge: firstCharge
          }
          this.$store.commit({
            type: 'gotMyInfo',
            value: values
          })
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      })
    },
    gotAccount () {
      this.getMonths = this.get_month().num;
      this.getMonthsC = this.get_month().numc;
      this.year = this.get_month().year; //当前年份
      //更新信息
      this.currentYear = this.year;
      this.activeMonth = this.getMonthsC[0]; //当前月
      this.itime = this.currentYear + '-' + this.fillZero(this.activeMonth);
      this.listActive = true;
      //消费清单
      this.changeAccount(this.itime, this.page);
    },
    changeAccount (date, page) {
      http.post('/userInfo/GetMyInfoRecharge.do', {
        userId: this.accountId,
        page: page,
        timeId: date,
        limit: this.limit
      }).then((result) => {
        if (parseInt(result.status) === 1) {
          this.$nextTick(()=> {
            //账单信息
            this.changeData = result.data.data;
            //总条数
            this.count = result.data.count;
            //总页数
            this.pages = Math.ceil(this.count/this.limit);
          })
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      })
      //动画
      this.overAni();
    },
    selectMonth (index) {
      this.showList = false;
      this.listActive = true;
      this.activeMonth = this.getMonthsC[index];
      if(this.getMonthsC[0] < this.getMonthsC[index]) {
        this.currentYear = this.year - 1;
        this.itime = (this.year-1) + '-' + this.fillZero(this.activeMonth);
      } else {
        this.currentYear = this.year;
        this.itime = this.currentYear + '-' + this.fillZero(this.activeMonth);
      }
      this.page = 1;
      this.changeAccount(this.itime, this.page);
    },
    showMonth () {
      this.showList = !this.showList;
    },
    prevPage () {
      this.page--;
      if(this.page < 1) {
        this.page = 1;
        this.$message.warning('没有上一页了~');
        return false;
      }
      this.listActive = true;
      this.changeAccount(this.itime, this.page);
    },
    nextPage () {
      this.page++;
      if (this.page > this.pages) {
        this.page = this.pages;
        this.$message.warning('没有下一页了~');
        return false;
      }
      this.listActive = true;
      this.changeAccount(this.itime, this.page);
    },
    overAni () {
      clearTimeout(this.aniTimer);
      this.aniTimer = setTimeout(() => {
        clearTimeout(this.aniTimer);
        this.listActive = false;
      },1000);
    },
    fillZero (num) {
      return num < 10 ? '0' + num : num;
    },
    downMonth (event) {
      addClass(event.target,'select-item-active');
    },
    upMonth (event) {
      removeClass(event.target, 'select-item-active');
    },
    prevDown () {
      this.page_top = true;
    },
    prevUp () {
      this.page_top = false;
    },
    nextDown () {
      this.page_bottom = true;
    },
    nextUp () {
      this.page_bottom = false;
    },
    get_month () {
      const currtime = new Date();
      const this_year = currtime.getFullYear();
      const this_month = currtime.getMonth() + 1;
      let month_array = new Array();
      let month_string = new Array();
      for (let i = 0; i < 6 ; i++) {
        month_array[i] = this_month - i;
        if (month_array[i] <= 0) {
          month_array[i] = month_array[i] + 12;
        }
        switch (month_array[i]) {
          case 1:
            month_string[i] = "一";
            break;
          case 2:
            month_string[i] = "二";
            break;
          case 3:
            month_string[i] = "三";
            break;
          case 4:
            month_string[i] = "四";
            break;
          case 5:
            month_string[i] = "五";
            break;
          case 6:
            month_string[i] = "六";
            break;
          case 7:
            month_string[i] = "七";
            break;
          case 8:
            month_string[i] = "八";
            break;
          case 9:
            month_string[i] = "九";
            break;
          case 10:
            month_string[i] = "十";
            break;
          case 11:
            month_string[i] = "十一";
            break;  
          default:
            month_string[i] = "十二";
        }
      }
      return {numc: month_array, num: month_string, year: this_year}
    },
    getTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    pageClick () {
      clearInterval(this.timer);
      this.time = 60;
      this.getTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    goPay () {
      this.$router.push({path: '/pay'});
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    }
  },
  components: {
    
  }
}
</script>
<style lang="scss">
.page-account {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .account-area-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #191b26;
    .account-area {
      position: absolute;
      width: 1565px;
      height: 844px;
      left: 50%;
      top: 50%;
      margin-left: -782px;
      margin-top: -422px;
      background-image: url(~@/assets/images/account_bg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      .page-box {
        position: absolute;
        padding-top: 18px;
        width: 50px;
        height: 112px;
        right: 80px;
        bottom: 100px;
        .pageup, .pagedown {
          position: relative;
          display: block;
          margin: 0 auto;
          width: 50px;
          height: 51px;
          zoom: 1;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
        .pageup {
          background-image: url('~@/assets/images/pageup.png');
          margin-bottom: 10px;
          &.pageup-active {
            background-image: url('~@/assets/images/pageup_active.png');
          }
        }
        .pagedown {
          background-image: url('~@/assets/images/pagedown.png');
          &.pagedown-active {
            background-image: url('~@/assets/images/pagedown_active.png');
          }
        }
      }
      .account-show {
        width: 1278px;
        margin: 0 auto;
        .info-list {
          margin-top: 60px;
          height: 90px;
          .i-div {
            width: 426px;
            height: 44px;
            float: left;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .div-name {
              display: block;
              width: 80px;
              height: 42px;
              line-height: 42px;
              color: #fff;
              font-size: 24px;
            }
            .div-item {
              padding: 5px 10px;
              width: 310px;
              height: 42px;
              line-height: 30px;
              text-align: center;
              font-size: 24px;
              color: #000;
              border: 1px solid #fff;
              border-radius: 32px;
              background: #fff;
            }
          }
        }
        .tips {
          font-size: 20px;
          color: #fff;
          padding-left: 20px;
          height: 30px;
          line-height: 30px;
          margin-bottom: 20px;
        }
        .custom-list {
          position: relative;
          overflow: hidden;
          padding-top: 22px;
          .top-barout {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            img {
              width: 100%;
              height: 44px;
            }
          }
          .top-barin {
            position: absolute;
            width: 100%;
            height: 20px;
            padding: 0 24px;
            top: 13px;
            box-sizing: border-box;
            img {
              width: 100%;
              height: 20px;
            }
          }
          .list-area-box {
            position: relative;
            overflow: hidden;
            .list-area {
              position: relative;
              width: 100%;
              left: 0;
              top: 0;
              height: 451px;
              box-sizing: border-box;
              &.active {
                animation: account_ani 1s ease-in-out;
              }
              .bottom-img {
                margin: 0 32px;
                height: 27px;
                img {
                  width: 100%;
                }
              }
              .main {
                padding: 15px 42px 0px;
                background: #fff;
                margin: 0 32px;
                border-top: 1px solid #ccc;
                box-sizing: border-box;
                height: 424px;
                .main_h1 {
                  height: 33px;
                  .xfju {
                    float: left;
                    height: 33px;
                    line-height: 33px;
                    font-size: 28px;
                    color: #333;
                    margin-right: 30px;
                  }
                  .xfju-page {
                    float: left;
                    height: 33px;
                    line-height: 33px;
                    font-size: 24px;
                    color: #333;
                    i {
                      font-style: normal;
                      margin: 0 5px;
                      color: #FF5722
                    }
                    strong {
                      margin: 0 5px;
                    }
                  }
                  .rili {
                    position: relative;
                    width: 29px;
                    height: 33px;
                    float: right;
                    cursor: pointer;
                    img {
                      width: 100%;
                    }
                    .month-div {
                      position: absolute;
                      top: 40px;
                      right: -42px;
                      width: 200px;
                      background: #fff;
                      font-size: 20px;
                      text-align: center;
                      padding: 10px 20px 5px 20px;
                      background: #f3f3f3;
                      border-radius: 10px;
                      .select-item {
                        height: 40px;
                        margin-bottom: 15px;
                        font-size: 20px;
                        color: #fff;
                        line-height: 40px;
                        text-align: center;
                        background-image: url(~@/assets/images/year_btn.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        &.select-item-active {
                          background-image: url(~@/assets/images/year_btn_active.png);
                        }
                      }
                    }
                  }
                }
                .cus-area {
                  height: 375px;
                  width: 100%;
                  overflow: hidden;
                  padding: 28px 0;
                  box-sizing: border-box;
                  .cus-list-empty {
                    height: 375px;
                    line-height: 300px;
                    text-align: center;
                    font-size: 40px;
                    color: #dfdfdf;
                  }
                  .cus-list {
                    border-bottom: 1px dashed #dfdfdf;
                    & > span {
                      display: block;
                      float: left;
                      font-size: 24px;
                      color: #000;
                      padding: 12px 0;
                      line-height: 55px;
                      height: 67px;
                      span {
                        font-size: 18px;
                        font-weight: 700;
                        color: #FF5722;
                        &.chong {
                          color: #f39826;
                        }
                      }
                      &.date {
                        width: 150px;
                        text-align: center;
                      }
                      &.time {
                        width: 150px;
                        text-align: center;
                      }
                      &.pic {
                        width: 100px;
                        text-align: center;
                        img {
                          width: 50px;
                          height: 50px;
                          vertical-align: sub;
                        }
                      }
                      &.money {
                        width: 250px;
                      }
                      &.datail {
                        width: 200px;
                        text-align: center;
                      }
                      &.remain  {
                        width: 270px;
                        text-align: center;
                        span {
                          color: #000;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .back-box {
      position: absolute;
      width: 360px;
      height: 90px;
      position: absolute;
      right: 50%;
      bottom: 10px;
      margin-right: -734px;
      display: flex;
      align-items: center;
      .pay-btn {
        width: 254px;
        height: 91px;
        background-image: url('~@/assets/images/cz_btn.png');
        background-repeat: no-repeat;
        background-size: 254px 91px;
        margin-right: 16px;
      }
      .back-btn {
        width: 66px;
        height: 66px;
        background-image: url('~@/assets/images/account_back.png');
        background-repeat: no-repeat;
        background-size: 66px 66px;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
  }
  .account-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
  
}
@keyframes account_ani {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-480px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
