<template>
  <div class="error-status" @click="pageClick">
    <div class="status-content">
      <div class="status-box">
        <div class="status-icon">
          <img src="~@/assets/images/status_failed.png" alt="">
        </div>
        <div class="status-txt">
          <span>{{error_title}}</span>
          <span>{{error_message}}</span>
        </div>
      </div>
      <div class="back-btn"
        @click.stop="backHome"
      ></div>
    </div>
    <div class="regist-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex';
export default {
  name: 'failed',
  data () {
    return {
      time: 15,
      timer: null
    }
  },
  computed: {
    ...mapState([
      'codeData',
      'error_message',
      'error_title'
    ])
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    pageClick () {
      clearInterval(this.timer);
      this.time = 15;
      this.lastTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.error-status {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  .status-content {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 4;
    .status-box {
      width: 100%;
      height: 285px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -142px;
      .status-icon {
        text-align: center;
        margin-bottom: 28px;
        img {
          margin-right: 12px;
        }
      }
      .status-txt {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        span:nth-child(1) {
          font-size: 28px;
          display: block;
          margin-bottom: 10px;
        }
        span:nth-child(2) {
          margin-right: 18px;
          color: red;
        }
      }
    }
    .back-btn {
      position: absolute;
      right: 100px;
      bottom: 40px;
      width: 90px;
      height: 90px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 90px 90px;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: scale(0.9)
      }
    }
  }
  .regist-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}
</style>
