<template>
  <div class="page-palm" @click="pageClick">
    <div class="palm-box">
      <div class="plam bounceInLeft animated faster">
        <h2 class="plam-tips">{{mesgTips}}</h2>
        <div class="plam-ains">
          <img src="~@/assets/images/new_plam_mac.png" alt="">
          <div class="ain-hand" :class="classHands"></div>
        </div>
      </div>
      <div class="back-btn fadeIn animated slow"
        @click.stop="backHome"
        @mousedown="backDown"
        @mouseup="backUp"
        :class="backClass"
      ></div>
    </div>
    <div class="palm-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isClose: false,
      time: 60,
      timer: null,
      mesgTips: '请把手掌放置正确位置',
      lastStr: '',
      backActive: false
    }
  },
  computed: {
    classHands () {
      return {
        'active': this.isClose
      }
    },
    backClass () {
      return {
        'active': this.backActive
      }
    }
  },
  created () {
    this.$store.state.LoginProgress = this.softProgress;
  },
  mounted () {
    this.getTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    softProgress(info) {
      if (info.handTxt == "请放上手" || info.handTxt == "请移开手") {
        if (info.handTxt != this.lastStr) {
          switch (info.handTxt) {
            case "请放上手":
              this.isClose = true;
              window.external.playMusic("3");
              break;
            case "请移开手":
              this.isClose = false;
              window.external.playMusic("4");
              break;
            default:
          }
        }
      }
      this.mesgTips = info.handTxt;
      this.lastStr = info.handTxt;
    },
    backHome () {
      //取消登录
      this.$store.commit('cancleSoft');
      this.$router.push('/');
    },
    getTime() {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      }, 1000);
    },
    pageClick () {
      clearInterval(this.timer);
      this.time = 60;
      this.getTime();
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    }
  },
  components: {

  }
}
</script>

<style lang="scss">
.page-palm {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .palm-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #191b26;
    .plam {
      width: 1265px;
      height: 530px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -265px;
      margin-left: -633px;
      .plam-ains {
        position: relative;
        width: 1265px;
        height: 494px;
        img {
          width: 1265px;
          height: 494px;
        }
        .ain-hand {
          width: 63px;
          height: 111px;
          background-image: url('~@/assets/images/new_plam_hand.png');
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          transition: all 0.8s ease-in-out 0.8s;
          margin-left: 250px;
          margin-top: -115px;
          opacity: 0;
          &.active {
            margin-left: 130px;
            opacity: 1;
          }
        }
      }
      .plam-tips {
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
      }
    }
    .back-btn {
      position: absolute;
      right: 100px;
      bottom: 40px;
      width: 90px;
      height: 90px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 90px 90px;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: scale(1)
      }
    }
  }
  .palm-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }

}
</style>
