<template>
  <div class="page-money" @click="pageClick">
    <div class="page-box">
      <div class="pay-content">
        <div class="pay-left animated bounceInLeft">
          <h2 class="account">账号：{{myTelephone}}</h2>
          <div class="ad-image">
            <img src="~@/assets/images/ad.png" alt="" @dragstart="dragsImage">
          </div>
          <ul class="btns-ul">
            <li class="btn-li" 
              v-for="(item, index) in moneys" :key="index"
              :class = "{'btn-li-active': current === index,'btn-li-block': current === index && firstCharge}"
              @click="selectMoney(item, index)"
            >
              <span class="txt">{{item}}</span>元
              <i class="icon"></i>
            </li>
          </ul>
          <div class="pay-btns">
            <span class="pay-btn" 
              v-for="(item, index) in types" :key="index"
              :class = "selectClass"
              @click="goPay(item)"
            >

            </span>
          </div>
        </div>
        <div class="pay-right animated bounceInRight">
          <span class="load-icon" v-show="!loadShow">
            <img src="~@/assets/images/money.gif" alt="" />
            <p>{{loadTips}}</p>
          </span>
          <img :src="result_url" alt="" class="pay-code"  v-show="loadShow" />
          <p class="text">{{tips}}</p>
        </div>
      </div>
      <div class="back-btn fadeIn animated slow"
        @click.stop="backHome"
      ></div>
    </div>
    <div class="page-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  name: 'money',
  data () {
    return {
      backActive: false,
      timer: null,
      time: 60,
      moneys: [30, 50, 100, 300],
      money: 0,
      current: -1,
      tips: '请打开手机支付宝扫码充值',
      types: [1, 2],
      type: 0,
      payTimer: null,
      loadShow: false,
      ordernum: '',
      result_url: '',
      loadTips: '付款码生成中...'
    }
  },
  watch: {
    type: {
      handler (val, old) {
        if (val === 1) {
          this.tips = '请打开手机支付宝扫码充值'
        } else if (val === 2) {
          this.tips = '请打开手机微信扫码充值'
        }
      }
    }
  },
  computed: {
    ...mapState([
      'payMoney',
      'accountId',
      'firstCharge',
      'equipmentID'
    ]),
    ...mapGetters([
      'myTelephone'
    ]),
    backBtnClass () {
      return {
        'active': this.backActive
      }
    },
    selectClass () {
      return {
        'pay-btn-active1': this.type === 1,
        'pay-btn-active2': this.type === 2
      }
    }
  },
  created () {
    this.money = this.payMoney.money;
    this.current = this.payMoney.current;
    this.type = this.payMoney.type;
    this.creatOrder();
    this.checkOrder();
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.payTimer);
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    dragsImage (event) {
      event.preventDefault()
    },
    backHome () {
      this.$router.push('/');
    },
    selectMoney (value, index) {
      this.money = value;
      this.current = index;
      this.creatOrder();
    },
    goPay (value) {
      this.type = value;
      this.creatOrder();
    },
    checkOrder () {
      this.payTimer = setInterval(() => {
        http.post('/renovate/rechargeordertump.do', {
          ordernum: this.ordernum
        }).then((result)=> {
          if (result.status === 1 ) {
            this.$router.push('/czsucc');
          }
        })
      }, 1000)
    },
    creatOrder () {
      this.result_url = '';
      this.loadShow = false;
      let sum = this.money;
      if (this.type === 1) {
        this.zfbPOST(sum)
      } else if (this.type === 2) {
        this.wxPOST(sum)
      }
    },
    wxPOST (sum) {
      http.$ajax('/wxCode/rechargeorder.do', {
        userId: this.accountId,
        total_fee: sum,
        equipmentname: this.equipmentID
      }).then((result)=> {
        const code = result.code;
        this.ordernum = result.ordernum;
        this.result_url = '/create/WeixinQrcode.do?code_url=' + code;
        let image = new Image();
        image.src = this.result_url;
        image.onload = () => {
          this.loadShow = true;
          window.external.playMusic('affirmMoney');
        }
        image.onerror = () => {
          this.loadShow = false;
          this.loadTips = '网络不稳定，生成失败';
        }
      }).catch((error)=> {
        
      });
    },
    zfbPOST (sum) {
      http.$ajax('/alipaytool/rechargeorder.do', {
        userId: this.accountId,
        total_fee: sum,
        equipmentname: this.equipmentID
      }).then((result)=> {
        const code = result.code;
        this.ordernum = result.ordernum;
        this.result_url = '/alipay/ZfbQrcode.do?code_url=' + code;
        let image = new Image();
        image.src = this.result_url;
        image.onload = () => {
          this.loadShow = true;
          window.external.playMusic('affirmMoney');
        }
        image.onerror = () => {
          this.loadShow = false;
          this.loadTips = '网络不稳定，生成失败';
        }
      }).catch((error)=> {
        
      });
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    pageClick () {
      clearInterval(this.timer);//清除定时器
      this.time = 60;
      this.lastTime();
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.page-money {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .page-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #fff;
    .pay-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 788px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -394px;
      .pay-left {
        width: 644px;
        height: 788px;
        background: #fff;
        position: relative;
        z-index: 3;
        .account {
          font-size: 22px;
          text-align: center;
          line-height: 1;
        }
        .ad-image {
          text-align: center;
          margin-bottom: 80px;
          background: #fff;
          img {}
        }
        .btns-ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          background: #fff;
          .btn-li {
            width: 272px;
            height: 168px;
            margin: 0 25px 65px;
            border: 2px solid #ccc;
            box-sizing: border-box;
            text-align: center;
            line-height: 165px;
            position: relative;
            background: #fff;
            .txt {
              font-weight: 700;
              font-size: 40px;
              margin-right: 2px;
            }
            .icon {
              width: 77px;
              height: 77px;
              background-size: 77px 77px;
              background-repeat: no-repeat;
              position: absolute;
              right: 0;
              top: 0;
              display: none;
            }
            &:nth-child(1) {
              .icon {
                background-image: url('~@/assets/images/send5.png');
              }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
              .icon {
                background-image: url('~@/assets/images/send10.png');
              }
            }
            &.btn-li-active {
              border-color: #ffb619;
              color: #ffb619;
            }
            &.btn-li-block {
              .icon {
                display: block;
              }
            }
          }
        }
        .pay-btns {
          width: 100%;
          display: flex;
          height: 91px;
          justify-content: space-around;
          background: #fff;
          .pay-btn {
            display: block;
            width: 256px;
            height: 93px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 256px 93px;
            &:nth-child(1) {
              background-image: url('~@/assets/images/zfb.png');
              background-size: 222px 59px;
            }
            &:nth-child(2) {
              background-image: url('~@/assets/images/weixin.png');
              background-size: 222px 59px;
            }
            &.pay-btn-active1 {
              &:nth-child(1) {
                background-image: url('~@/assets/images/zfb_active.png');
                background-size: 256px 93px;
              }
            }
            &.pay-btn-active2 {
              &:nth-child(2) {
                background-image: url('~@/assets/images/weixin_active.png');
                background-size: 256px 93px;
              }
            }
          }
        }
      }
      .pay-right {
        width: 358px;
        height: 414px;
        margin-left: 200px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .load-icon {
          width: 278px;
          height: 278px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          img {
            display: block;
            width: 200px;
            height: 200px;
          }
          p {
            height: 78px;
            line-height: 78px;
          }
        }
        .pay-code {
          width: 358px;
          height: 358px;
          display: block;
        }
        .text {
          height: 56px;
          line-height: 56px;
          text-align: center;
          font-size: 20px;
          letter-spacing: 3px;
        }
      }
    }
    .back-btn {
      position: absolute;
      right: 100px;
      bottom: 40px;
      width: 90px;
      height: 90px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 90px 90px;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: scale(0.9)
      }
    }
  }
  .page-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}

</style>
