<template>
  <div class="page-pay" @click="pageClick">
    <div class="page-box">
      <div class="pay-content bounceInLeft animated fast">
        <div class="pay-left">
          <h2 class="account">账号：{{myTelephone}}</h2>
          <div class="ad-image" @dragstart="dragsImage">
            <img src="~@/assets/images/ad.png" alt="">
          </div>
          <ul class="btns-ul">
            <li class="btn-li" 
              v-for="(item, index) in moneys" :key="index"
              :class = "{'btn-li-active': current === index, 'btn-li-block': current === index && firstCharge}"
              @click="selectMoney(item, index)"
            >
              <span class="txt">{{item}}</span>元
              <i class="icon"></i>
            </li>
          </ul>
          <div class="pay-btns">
            <span class="pay-btn" 
              v-for="(item, index) in types" :key="index"
              @click.stop="goPay(item)"
            >
            </span>
          </div>
        </div>
        <div class="pay-right" v-show="false">
          <img src="" alt="" class="pay-code">
          <p class="text">{{tips}}</p>
        </div>
      </div>
      <div class="back-btn fadeIn animated slow"
        @click.stop="backHome"
      ></div>
    </div>
    <div class="page-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  name: 'pay',
  data () {
    return {
      backActive: false,
      time: 60,
      timer: null,
      moneys: [30, 50, 100, 300],
      money: 0,
      current: -1,
      tips: '请打开支付宝扫码充值',
      types: [1, 2]
    }
  },
  watch: {},
  computed: {
    backBtnClass () {
      return {
        'active': this.backActive
      }
    },
    ...mapState([
      'firstCharge'
    ]),
    ...mapGetters([
      'myTelephone'
    ])
  },
  created () {
    window.external.playMusic('selectMoney');
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    dragsImage (event) {
      event.preventDefault();
    },
    selectMoney (value, index) {
      this.money = value;
      this.current = index;
      window.external.playMusic('selectType');
    },
    goPay (value) {
      if (this.money > 0) {
        let values = {
          type: value,
          money: this.money,
          current: this.current
        }
        this.$store.commit({
          type: 'goPay',
          payMoney: values
        })
      } else {
        this.$message.warning('请选择充值金额');
        window.external.playMusic('selectMoney');
      }
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    pageClick () {
      clearInterval(this.timer);//清除定时器
      this.time = 60;
      this.lastTime();
    },
    backHome () {
      this.$router.push('/');
    },
    backBtnDown () {
      this.backActive = true;
    },
    backBtnUp () {
      this.backActive = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.page-pay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .page-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #fff;
    .pay-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 788px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -394px;
      background: #fff;
      .pay-left {
        width: 644px;
        height: 788px;
        .account {
          font-size: 22px;
          text-align: center;
          line-height: 1;
        }
        .ad-image {
          text-align: center;
          margin-bottom: 80px;
          img {}
        }
        .btns-ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .btn-li {
            width: 272px;
            height: 168px;
            margin: 0 25px 65px;
            border: 2px solid #ccc;
            box-sizing: border-box;
            text-align: center;
            line-height: 165px;
            position: relative;
            .txt {
              font-weight: 700;
              font-size: 40px;
              margin-right: 2px;
            }
            .icon {
              width: 77px;
              height: 77px;
              background-size: 77px 77px;
              background-repeat: no-repeat;
              position: absolute;
              right: 0;
              top: 0;
              display: none;
            }
            &:nth-child(1) {
              .icon {
                background-image: url('~@/assets/images/send5.png');
              }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
              .icon {
                background-image: url('~@/assets/images/send10.png');
              }
            }
            &.btn-li-active {
              border-color: #ffb619;
              color: #ffb619;
            }
            &.btn-li-block {
              .icon {
                display: block;
              }
            }
          }
        }
        .pay-btns {
          width: 100%;
          display: flex;
          height: 91px;
          justify-content: space-around;
          .pay-btn {
            display: block;
            width: 254px;
            height: 91px;
            background-repeat: no-repeat;
            background-position: center center;
            &:nth-child(1) {
              background-image: url('~@/assets/images/zfb.png');
              background-size: 222px 59px;
            }
            &:nth-child(2) {
              background-image: url('~@/assets/images/weixin.png');
              background-size: 222px 59px;
            }
          }
        }
      }
      .pay-right {
        width: 278px;
        height: 334px;
        margin-left: 314px;
        .pay-code {
          width: 278px;
          height: 278px;
          display: block;
          background: #ccc;
        }
        .text {
          height: 56px;
          line-height: 56px;
          text-align: center;
          font-size: 22px;
          letter-spacing: 3px;
        }
      }
    }
    .back-btn {
      position: absolute;
      right: 100px;
      bottom: 40px;
      width: 90px;
      height: 90px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 90px 90px;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: scale(0.9)
      }
    }
  }
  .page-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}

</style>
