<template>
  <div class="regist-plam" @click="pageClick">
    <div class="regist-box">
      <div class="palm animated bounceInDown faster">
        <div class="plam-source-box">
          <div :class="classObject" class="step-bg">
            <span class="step-title">
              <span class="step-title-txt">{{statusTxt}}</span>
            </span>
            <div class="step-lines">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
            <i class="circle"></i>
            <i class="circle circle-two"></i>
            <i class="circle circle-three"></i>
          </div>
        </div>
        <div class="plam-ains">
          <img src="~@/assets/images/module.png" alt="">
          <div class="ain-hand" :class="classHands"></div>
        </div>
        <div class="plam-tips">{{mesgTips}}</div>
      </div>
      <div class="back-box fadeIn animated slow">
        <div class="back-btn" 
          @click="againRegistPalm"
          @mousedown="againBtnDown"
          @mouseup="againBtnUp"
          :class="againBtnClass"
        >重新采集</div>
        <div class="back-btn"
          @click.stop="backHome"
          @mousedown="backBtnDown"
          @mouseup="backBtnUp"
          :class="backBtnClass"
        >返回</div>
      </div>
    </div>
    <div class="regist-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'plam',
  data () {
    return {
      statusTxt: '开始验证',
      mesgTips: '请正确放置手掌位置',
      step_o: false,
      step_t: false,
      step_th: false,
      step_f: false,
      isClose: false,
      lastStr: '',
      againBtnActive: false,
      backBtnActive: false,
      time: 120,
      timer: null
    }
  },
  watch: {},
  computed: {
    classObject () {
      return {
        'step-one': this.step_o,
        'step-two': this.step_t,
        'step-three': this.step_th,
        'step-four': this.step_f
      }
    },
    classHands () {
      return {
        'active': this.isClose
      }
    },
    againBtnClass () {
      return {
        'active': this.againBtnActive
      }
    },
    backBtnClass () {
      return {
        'active': this.backBtnActive
      }
    }
  },
  created () {
    this.$store.state.softProgress = this.softProgress;
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    againRegistPalm () {
      //重新采集状态
      this.softCancle();
      this.$store.commit('againRegistPalm')
    },
    softProgress (info) {
      switch (parseInt(info.index)) {
        case 0:
          this.statusTxt = '验证中';
          break;
        case 1:
          this.statusTxt = '采集';
          this.step_o = true;
          break;
        case 2:
          this.statusTxt = '校验';
          this.step_t = true;
          break;
        case 3:
          this.statusTxt = '二次校验';
          this.step_th = true;
          break;
        case 4:
          this.statusTxt = '采集成功';
          this.step_f = true;
          break;
      }
      if (info.handTxt == '请放上手' || info.handTxt == '请移开手') {
        if (info.handTxt != this.lastStr) {
          switch (info.handTxt) {
            case '请放上手':
              this.isClose = true;
              window.external.playMusic("3");
              break;
            case '请移开手':
              this.isClose = false;
              window.external.playMusic("4");
              break;
            default:
          }
        }
      }
      this.mesgTips = info.handTxt;
      this.lastStr = info.handTxt;
    },
    softCancle () {
      this.step_o = false;
      this.step_t = false;
      this.step_th = false;
      this.step_f = false;
      this.isClose = false;
      this.statusTxt = '开始验证';
      this.mesgTips = '请正确放置手掌位置';
    },
    backHome () {
      //取消注册
      this.$store.commit('cancleSoft');
      this.$router.push('/');
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    pageClick () {
      clearInterval(this.timer);//清除定时器
      this.time = 120;
      this.lastTime();
    },
    againBtnDown () {
      this.againBtnActive = true;
    },
    againBtnUp () {
      this.againBtnActive = false;
    },
    backBtnDown () {
      this.backBtnActive = true;
    },
    backBtnUp () {
      this.backBtnActive = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.regist-plam {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .regist-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #191b26;
    .palm {
      height: 468px;
      width: 774px;
      background-image: url('~@/assets/images/plam_bg.png');
      background-size: cover;
      overflow: hidden;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -387px;
      margin-top: -234px;
      .plam-source-box {
        width: 704px;
        margin: 40px auto 40px;
        height: 96px;
        position: relative;
        overflow: hidden;
        .step-bg {
          width: 566px;
          height: 12px;
          background: #dbdde2;
          position: relative;
          margin: 82px auto 0;
          border-radius: 10px;
          display: block;
          box-sizing: border-box;
          .circle {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -7px;
            width: 14px;
            height: 14px;
            background: url('~@/assets/images/crile.png');
            z-index: 9;
            &.circle-two {
              left: 276px;
            }
            &.circle-three {
              left: 552px;
            }
          }
          .step-title {
            display: block;
            width: 76px;
            height: 40px;
            background: url('~@/assets/images/step_title.png') no-repeat center center;
            position: absolute;
            top: -50px;
            left: -32px;
            .step-title-txt {
              height: 38px;
              line-height: 30px;
              font-size: 14px;
              text-align: center;
              display: block;
              font-weight: 600;
            }

          }
          .step-lines {
            height: 2px;
            width: 552px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -276px;
            margin-top: -1px;
            background: #8e8e8e;
            .line {
              /*width: 25%;*/
              height: 2px;
              float: left;
              background: #ff3131;
            }
          }
          &.step-one {
            .step-title {
              animation: left_f 0.7s ease-out;
              left: 107px;
            }
            .step-lines {
              .line:nth-child(1) {
                animation: width 0.7s ease-out;
                width: 25%;
              }
            }
          }
          &.step-two {
            .step-title {
              animation: left_s 0.7s ease-out;
              left: 245px;
            }
            .step-lines {
              .line:nth-child(2) {
                animation: width 0.7s ease-out;
                width: 25%;
              }
            }
          }
          &.step-three {
            .step-title {
              animation: left_t 0.7s ease-out;
              left: 383px;
            }
            .step-lines {
              .line:nth-child(3) {
                animation: width 0.7s ease-out;
                width: 25%;
              }
            }
          }
          &.step-four {
            .step-title {
              animation: left_fo 0.7s ease-out;
              left: 521px;
            }
            .step-lines {
              .line:nth-child(4) {
                animation: width 0.7s ease-out;
                width: 25%;
              }
            }
          }
        }
      }
      .plam-ains {
        position: relative;
        height: 180px;
        text-align: center;
        margin-bottom: 20px;
        img {
          vertical-align: middle;
        }
        .ain-hand {
          width: 90px;
          height: 160px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -50px;
          transform: translateX(200px);
          margin-top: -92px;
          background: url('~@/assets/images/hand.png') no-repeat 50% 50%;
          opacity: 0;
          &.active {
            animation: ani_hand 1s ease-in-out 0.8s;
            transform: translateX(0);
            opacity: 1;
          }
          
        }
      }
      .plam-tips {
        width: 80%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 auto;
      }
    }
    .back-box {
      width: 774px;
      height: 60px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -387px;
      margin-top: 250px;
      text-align: right;
      .back-btn {
        width: 170px;
        height: 60px;
        line-height: 60px;
        background-color: #ffb619;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        display: inline-block;
        margin-right: 15px;
        transition: all 0.5s;
        &.active {
          transform: scale(0.8)
        }
      }
    }
  }
  .regist-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}
@keyframes ani_hand {
	from {
    transform: translateX(200px);
    opacity: 0;
	}
	to {
    transform: translateX(0);
    opacity: 1;
	}
}
@keyframes left_f {
	from {
		left: 0
	}
	to {
		left: 107px;
	}
}
@keyframes left_s {
	from {
		left: 107px;
	}
	to {
		left: 245px;
	}
}
@keyframes left_s {
	from {
		left: 107px;
	}
	to {
		left: 245px;
	}
}
@keyframes left_t {
	from {
		left: 245px;
	}
	to {
		left: 383px;
	}
}
@keyframes left_fo {
	from {
		left: 383px
	}
	to {
		left: 521px
	}
}
@keyframes width {
	from {
		width: 0
	}
	to {
		width: 25%
	}
}
</style>
