<template>
  <div class="status" @click="pageClick">
    <div class="status-content">
      <div class="status-box">
        <div class="status-icon">
          <img src="~@/assets/images/status_success.png" alt="">
        </div>
        <div class="status-txt">
          <span>恭喜，注册成功！</span>
        </div>
      </div>
      <div class="ad-box zoomInDown animated">
        <img src="~@/assets/images/ad.png" alt="" @dragstart="dragsImage">
      </div>
      <div class="ad-box fadeInUp animated">
        <img src="~@/assets/images/cz_btn.png" alt="" @dragstart="dragsImage" @click.stop="goChongZhi">
      </div>
      <div class="back-btn fadeIn animated slow"
          @click.stop="backHome"
      ></div>
    </div>
    <div class="regist-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
  </div>
</template>

<script>
import { mapState  } from 'vuex'
export default {
  name: 'success',
  data () {
    return {
      time: 60,
      timer: null
    }
  },
  computed: {
    ...mapState([
      
    ])
  },
  created() {
    window.external.playMusic("5");
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    goChongZhi () {
      this.$router.push({path: '/pay'});
    },
    dragsImage (event) {
      event.preventDefault();
    },
    pageClick () {
      clearInterval(this.timer);
      this.time = 60;
      this.lastTime();
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.status {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: red;
  .status-content {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #fff;
    .status-box {
      margin-top: 150px;
      margin-bottom: 50px;
      .status-icon {
        text-align: center;
        margin-bottom: 28px;
        img {
          margin-right: 12px;
        }
      }
      .status-txt {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
      }
    }
    .ad-box {
      text-align: center;
      margin-bottom: 50px;
    }
    .back-btn {
      position: absolute;
      right: 100px;
      bottom: 40px;
      width: 90px;
      height: 90px;
      background-image: url('~@/assets/images/back_btn.png');
      background-repeat: no-repeat;
      background-size: 90px 90px;
      display: inline-block;
      transition: all 0.3s ease-in-out;
      &.active {
        transform: scale(0.9)
      }
    }
  }
  .regist-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}
</style>
