<template>
  <div class="phone-page" @click="pageClick">
    <div class="page-box">
      <div class="telephone-content">
        <div class="telephone">
          <div class="form-box animated bounceInLeft">
            <h2 class="form-title">开通掌购账号</h2>
            <div class="form-input">
              <div class="input-block">
                <input type="text" 
                  class="telephone-input" 
                  placeholder="请输入11位手机号"
                  @focus="phoneFocus"
                  v-model="iphone"
                >
              </div>
            </div>
            <div class="form-input">
              <div class="input-block">
                <input type="text" 
                  class="code-input" 
                  placeholder="请输入验证码"
                  @focus="codeFocus"
                  v-model="code"
                >
                <div class="code-btn">
                  <button  
                    @click="getVerificationCode"
                    @mousedown="downGetBtn"
                    @mouseup="upGetBtn"
                    :disabled = disableNo
                    v-html="changeName"
                  ></button>
                </div>
              </div>
            </div>
            <div class="form-input">
              <div class="input-block">
                <input type="text" 
                  class="telephone-input" 
                  placeholder="请输入推荐人手机号"
                  @focus="recommendFocus"
                  v-model="recommend"
                >
              </div>
            </div>
            <div class="form-tips" :class="tipsClass">
              <span class="tips-icon" @click="clickTips"><i></i>注册即代表您同意</span>
              <span class="tips-xy" @click="clickTipsXY">《掌购用户服务协议》</span>
            </div>
          </div>
          <ul class="kbbox animated bounceInRight">
            <li class="kb" 
              v-for="(number, index) in keys" :key="index"
              @click="clickkey(index,$event)"
              @mousedown="downkey($event)"
              @mouseup="upkey($event)"
            >
              {{number}}
            </li>
          </ul>
        </div>
        <div class="form-btns fadeIn animated slow">
          <div class="regist-btn">
            <button  
              @click.stop="submitData" 
              :disabled = disableNoSubmit
              :class = "submitBtnActive"
            >
              注册
            </button>
          </div>
        </div>
      </div>
      <div class="back-box fadeIn animated slow">
        <div class="back-btn"
          @click.stop="backHome"
          @mousedown="backDown"
          @mouseup="backUp"
        ></div>
      </div>
    </div>
    <div class="regist-bottom">
      返回首页倒计时：<span><strong>{{time}}</strong>s</span>
    </div>
    <div class="xy-box"  v-show="tipsBoxShow">
      <div class="xy-content animated faster" :class="colseClass">
        <div class="title">
          掌静脉隐私服务协议
        </div>
        <span class="close-icon" @click="closeTipsXY">
          <i class="el-icon-circle-close-outline"></i>
        </span>
        <div class="content" ref="content">
          <div>
            <h2>隐私声明</h2>
            <h3>引言</h3>
            <p>上海掌腾智能科技有限公司（以下称“掌腾”或“我们”）尊重并保护所有使用掌腾服务用户的隐私权，在您使用我们提供的服务时，我们可能会收集和使用您的相关信息，我们希望通过本<span>《掌腾掌静脉隐私服务协议》</span>向您说明，我们如何收集、存储、保护及使用您的个人信息，以及清楚地向您介绍我们对您个人信息的处理方式。本<span>《掌腾掌静脉隐私服务协议》</span>与您使用掌腾的服务息息相关，因此我们建议您完整地阅读，以帮助您更好地保护您的隐私。</p>
            <p>如您对本<span>《掌腾掌静脉隐私服务协议》</span>有任何疑问，您可以通过我们平台公布的联系方式与我们联系。如果您不同意本隐私权政策任何内容，您应立即停止使用我们的服务。当您使用我们提供的任一服务时，即表示您已同意我们按照本<span>《掌腾掌静脉隐私服务协议》</span>来合法使用和保护您的个人信息。</p>
            <h3>一、适用范围</h3>
            <p>本<span>《掌腾掌静脉隐私服务协议》</span>适用于我们提供的所有服务。您访问和\或登录我们相关客户端使用我们提供的服务，均适用本<span>《掌腾掌静脉隐私服务协议》</span>。需要特别说明的是，本隐私服务协议不适用于其他第三方向您提供的服务，例如我们平台上的第三方依托我们平台向您提供服务时，您向第三方提供的个人信息不适用于<span>《掌腾掌静脉隐私服务协议》</span>，我们对任何第三方使用由您提供的信息不承担任何责任。</p>
            <h3>二、我们如何收集信息</h3>
            <p>我们提供服务时，可能会收集、储存和使用下列与您有关的信息，收集信息是为了向您提供更好、更优、更个性化的服务，我们收集信息的方式如下：</p>
            <h4>1，您提供的信息</h4>
            <p>当您在注册账户或使用我们提供的相关服务时填写或提交的信息，如手机号码。您通过我们的服务向其他方提供的共享信息，以及您使用我们的服务时所储存的信息。</p>
            <h4>2，在您使用服务过程中收集的信息</h4>
            <p>为了提供并优化您需要的服务，我们可能会收集您使用服务的相关信息，这类信息包括：</p>
            <p>1) 当您注册掌静脉时，我们会收集您的手机号码和手掌的相关信息</p>
            <p>2) 在您使用我们掌购结算柜，或访问我们掌购便利app时，我们自动接收并记录的您的相关的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；如您下载或使用我们或其关联公司客户端软件，或访问移动网页使用我们平台服务时，我们可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等；</p>
            <h3>三、我们如何使用信息</h3>
            <p>因收集您的信息是为了向您提供服务及提升服务质量，为了实现这一目的，我们可能会把您的信息用于下列用途：</p>
            <p>1) 向您提供您使用的各项服务，并设计、维护、改进这些服务；</p>
            <p>2) 在我们提供服务时，用于身份验证、客户服务、安全防范、诈骗监测、存档和备份用途，确保我们向您提供的产品和服务的安全性；</p>
            <p>3) 根据您需求、地域、年龄、职业、语言能力、背景、兴趣、购买偏好等，匹配适合您的活动或商品内容等；</p>
            <p>4) 分析您使用我们服务的情况，使我们更加了解您如何接入和使用我们的服务，从而针对性地回应您的个性化需求，例如个性化推荐服务；</p>
            <p>5) 您在使用我们的服务时，我们可能使用您的信息向您的设备发送电子邮件、新闻或推送通知。如您不希望收到这些信息，可以按照我们的相关提示，在设备上选择取消订阅；</p>
            <p>6) 向您推荐您可能感兴趣的内容，包括但不限于向您发送产品和服务信息，或通过系统向您展示个性化的第三方推广信息，或者在征得您同意的情况下与我们的合作伙伴共享信息以便他们向您发送有关其产品和服务的信息；</p>
            <p>7) 软件认证或管理软件升级；</p>
            <p>8) 向您提供与您更加相关的广告以替代普遍投放的广告；</p>
            <p>9) 让您参与有关我们产品和服务的调查，或者促销及抽奖活动；</p>
            <p>10) 经您许可的其他用途；</p>
            <h3>四、我们如何共享信息</h3>
            <p>我们对您的信息承担保密义务，不会出售或出租您的任何信息，我们在下列情况下才会将您的信息与第三方共享：</p>
            <p>1) 事先获得您的同意或授权；</p>
            <p>2) 根据法律法规的规定或行政或司法机构的要求；</p>
            <p>3) 向我们的关联方分享您的个人信息；</p>
            <p>4) 向可信赖的合作伙伴提供您的个人信息，让他们根据我们的指示并遵循我们的<span>《掌腾掌静脉隐私服务协议》</span>以及其他任何相应的保密和安全措施来为我们处理这些信息；</p>
            <p>5) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
            <p>6) 在您需要我们提供您需要的服务，或处理您与他人的纠纷或争议。例如您在我们平台上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，我们会视情况向为我们平台提供电子支付的第三方（包括但不限于）供应商提供其交易对方的联络方式等必要信息;</p>
            <p>7) 如您出现违反中国有关法律、法规或者我们相关协议或相关规则的情况，需要向第三方披露；</p>
            <p>8) 查找、预防或处理欺诈、安全或技术方面的问题；</p>
            <p>9) 紧急情况下，为维护用户及公众的利益；</p>
            <p>10) 为维护我们及其关联方或用户的合法权益；</p>
            <h3>五、我们如何保护您的个人信息</h3>
            <p>为保障您的信息安全，我们努力采取各种合理的物理、电子和管理方面的安全措施来保护您的信息，使您的信息不会被泄漏、毁损或者丢失，包括但不限于SSL、信息加密存储、数据中心的访问控制。我们对可能接触到您的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同采取不同的权限控制，与他们签署保密协议，监控他们的操作情况等措施。我们会按现有技术提供相应的安全措施来保护您的信息，提供合理的安全保障，我们将尽力做到使您的信息不被泄漏、毁损或丢失。</p>
            <p>您的账户均有安全保护功能，请妥善保管您的账户及密码信息。我们将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您理解在信息网络上不存在“完善的安全措施”。</p>
            <p>在使用我们平台服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如银行账户信息、联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是你的账户及密码发生泄露，请您立即通过公开信息联络我们，以便我们采取相应措施。</p>
            <h3>六、未成年人保护</h3>
            <p>我们建议未成年人的监护人认真阅读本<span>《掌腾掌静脉隐私服务协议》</span>，并建议未成年人在提交的个人信息之前寻求监护人的同意和指导。掌腾将建立、维护合理的程序，以保护未成年人个人资料的保密性及安全性。</p>
            <h3>七、变更</h3>
            <p>我们可能适时修订本<span>《掌腾掌静脉隐私服务协议》</span>的条款，该等修订构成本<span>《掌腾掌静脉隐私服务协议》</span>的一部分。如修订造成您在本<span>《掌腾掌静脉隐私服务协议》</span>下权利的实质减少，我们将通过在平台显著位置提示或向您发送短信或以其他方式通知您。在该种情况下，若您继续使用我们的服务，即表示同意受经修订的本<span>《掌腾掌静脉隐私服务协议》</span>的约束。</p>
            <p style="padding-bottom: 40px;">以上，一切解释权归<span>上海掌腾智能科技有限公司</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import BScroll from 'better-scroll'
export default {
  data () {
    return {
      keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, '删除', 0, '清空'],
      iphone: '',
      code: '',
      isFocue: 0,
      changeName: '获取验证码',
      codeCount: 60,
      codeTimer: null,
      checkedActive: false,
      gottedActive: false,
      disableNo: false,
      disableNoSubmit: false,
      backActive: false,
      recommend: '',
      tipsActive: false,
      tipsBoxShow: false,
      scroll: null,
      closeActive: true,
      timer: null,
      time: 60
    }
  },
  watch: {
    iphone (val, old) {
      const regPhone = /^1\d{10}$/;
      if (!regPhone.test(val)) {
        this.code = '';
        this.isFocue = 0;
      } else {
        this.isFocue = 1;
      }
    }
  },
  computed: {
    tipsClass () {
      return {
        'form-tips-active': this.tipsActive
      }
    },
    colseClass () {
       return {
        'bounceInDown': this.closeActive,
        'bounceOutUp': !this.closeActive
      }
    },
    backClass () {
      return {
        'active': this.backActive
      }
    },
    submitBtnActive () {
      return {
        'active': this.checkedActive
      }
    }
  },
  mounted () {
    this.lastTime();
  },
  beforeDestroy () {
    clearInterval(this.codeTimer);
    clearInterval(this.timer);//清除定时器
  },
  methods: {
    getVerificationCode () {
      this.code = "";
      const phone_num = this.iphone;
      if (!(/^1\d{10}$/.test(phone_num))) {
        this.$message.warning('手机号码有误，请重填');
      } else {
        //获取验证码
        http.post('/userInfo/Send.do', {
          phone: phone_num
        }).then((result) => {
          if(parseInt(result.status) === 1) {
            //获取验证码成功
            //验证码倒计时
            this.isFocue = 1;
            this.countDown();
            this.$message.success(result.msg);
          } else {
            //获取验证码失败
            this.$message.warning(result.msg);
          }
        }).catch((error)=> {
          this.$message.error(error);
        });
      }
    },
    submitData () {
      let phone_num = this.iphone; //电话号码
      let phone_code = this.code; //验证码
      let recommend_num = this.recommend //推荐人号码
      if (this.tipsActive) {
        this.$message.warning('请你认真阅读并勾选掌购用户服务协议');
      } else if (!(/^1\d{10}$/.test(phone_num))) {
        this.$message.warning('手机号码有误，请重填');
      } else if (!phone_code) {
        this.$message.warning('验证码不能为空');
      } else if (recommend_num.length && !(/^1\d{10}$/.test(recommend_num))) {
        this.$message.warning('推荐人手机号码有误，请重填');
      } else {
        //检验验证码
        if (recommend_num.length === 0) {
          this.checkCode(phone_num, phone_code, recommend_num);
        } else {
          this.checkPhone(phone_num, phone_code, recommend_num)
        }
      }
    },
    checkCode (phone_num, phone_code, recommend_num) {
      this.disableNoSubmit = true;
      this.resetCode(); //重置获取验证码按钮
      http.post('/userInfo/MiddleCode.do', {
        phone: phone_num,
        code: phone_code
      }).then((result) => {
        if(parseInt(result.status) === 1) {
          //验证码验证成功
          let telephoneInfo = {
            phone_num: phone_num,
            recommend_num: recommend_num
          }
          this.$store.commit({
            type: 'startRegist',
            telephoneInfo: telephoneInfo
          })
        } else {
          //验证码错误
          this.$message.warning(result.msg);
        }
        this.disableNoSubmit = false;
      }).catch((error)=> {
        this.disableNoSubmit = false;
        this.$message.error(error);
      });
    },
    checkPhone (phone_num, phone_code, recommend_num) {
      http.post('/userInfo/checkRecPhone.do', {
        recPhone: recommend_num
      }).then((result) => {
        if(parseInt(result.status) === 1) {
          //验证推荐人号码
          this.checkCode(phone_num, phone_code, recommend_num);
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      });
    },
    countDown () {
      this.disableNo = true;
      this.changeName = '已获取<span>'+this.codeCount+'s</span>';
      clearInterval(this.codeTimer);
      this.codeTimer = setInterval(() => {
        this.codeCount--;
        this.changeName = '已获取<span>'+this.codeCount+'s</span>';
        if (this.codeCount <= 0) {
          this.resetCode();
        }
      },1000)
    },
    resetCode () {
      clearInterval(this.codeTimer);
      this.codeCount = 60;
      this.disableNo = false;
      this.changeName = '获取验证码';
    },
    phoneFocus () {
      this.isFocue = 0;
    },
    codeFocus () {
      this.isFocue = 1;
    },
    recommendFocus () {
      this.isFocue = 2;
    },
    getNum (message) {
      if(this.isFocue === 0) {
        switch (message) {
          case 'delete':
            this.iphone = this.iphone.substring(0, this.iphone.length-1);
            break;
          case 'reset':
            this.iphone = '';
            break;
          default:
            this.iphone += message;
        }
      } else if(this.isFocue === 1) {
        switch (message) {
          case 'delete':
            this.code = this.code.substring(0, this.code.length-1);
            break;
          case 'reset':
            this.code = '';
            break;
          default:
            this.code += message;
        }  
      } else if(this.isFocue === 2) {
        switch (message) {
          case 'delete':
            this.recommend = this.recommend.substring(0, this.recommend.length-1);
            break;
          case 'reset':
            this.recommend = '';
            break;
          default:
            this.recommend += message;
        }  
      }
    },
    clickkey (index, event) {
      if (index === 9) {
        this.getNum('delete');
      } else if (index === 10) {
        this.getNum(0);
      } else if (index === 11 ) {
        this.getNum('reset');
      } else {
        this.getNum(index+1);
      }
    },
    lastTime () {
      this.timer = setInterval(() => {
        this.time--;
        if (this.time <= 0) {
          this.backHome();
        }
      },1000)
    },
    backHome () {
      this.$router.push({path: '/'});
    },
    clickTips () {
      this.tipsActive = !this.tipsActive;
    },
    clickTipsXY () {
      this.tipsBoxShow = true;
      this.closeActive = true;
      if (!this.scroll) {
        setTimeout(() => {
          this.scroll = new BScroll(this.$refs.content,{
            scrollY: true,
            scrollbar: true
          })
        }, 20)
      } else {
        this.scroll.refresh();
      }
    },
    closeTipsXY () {
      this.closeActive = false;
      setTimeout(() => {
        this.tipsBoxShow = false;
      },550)
    },
    pageClick () {
      //点击页面倒计时重置
      clearInterval(this.timer);//清除定时器
      this.time = 60;
      this.lastTime();
    },
    downkey (event) {
      event.target.style.backgroundColor = '#333';
      event.target.style.color = '#ffb619';
    },
    upkey (event) {
      event.target.style.backgroundColor = '#505053';
      event.target.style.color = '#fff';
    },
    backDown () {
      this.backActive = true;
    },
    backUp () {
      this.backActive = false;
    },
    downGetBtn () {
      
    },
    upGetBtn () {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.phone-page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  .xy-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background: rgba(0,0,0, 0.8);
    .xy-content {
      width: 640px;
      height: 690px;
      margin: 0 auto;
      background: #fff;
      margin-top: 5%;
      position: relative;
      box-shadow: 0 1px 1px rgba(0,0,0, 0.8);
      .title {
        font-size: 22px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 2px;
        width: 100%;
        height: 106px;
        box-sizing: border-box;
        padding: 40px 0;
        position: relative;
        background: #fff;
        z-index: 1;
      }
      .close-icon {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: -70px;
        z-index: 5;
        i {
          font-size: 50px;
          color: #ffb619;
        }
      }
      .content {
        height: 584px;
        padding: 0 40px;
        overflow: hidden;
      }
      h2 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
      }
      p {
        font-size: 15px;
        letter-spacing: 1px;
      }
      span {
        font-weight: 700;
      }
    }
  }
  .page-box {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    top: 0;
    background-color: #191b26;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .telephone-content {
      width: 1008px;
      padding-top: 40px;
      height: 572px;
      .telephone {
        display: flex;
      }
      .form-box {
        height: 432px;
        width: 654px;
        background-color: #fff;
        margin-right: 30px;
        .form-title {
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 30px;
          font-weight: 700;
          margin: 30px 0;
          letter-spacing: 2px;
        }
        .form-input {
          width: 438px;
          margin: 0 auto 30px;
          height: 60px;
          .input-block {
            height: 100%;
            input {
              font-size: 20px;
              letter-spacing: 2px;
            }
            .telephone-input {
              width: 100%;
              height: 100%;
              padding-left: 15px;
              display: block;
              border: 1px solid #cecece;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .code-input {
              width: 254px;
              height: 100%;
              padding-left: 15px;
              display: block;
              float: left;
              border: 1px solid #cecece;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .code-btn {
              width: 170px;
              height: 60px;
              float: right;
              border: 1px solid #cecece;
              button {
                width: 168px;
                height: 58px;
                line-height: 58px;
                text-align: center;
                font-size: 20px;
                outline: none;
                border: none;
                background: #fff;
                color: #000;
                padding: 0;
                margin: 0;
                opacity: 1;
                letter-spacing: 2px;
              }
              span {
                margin-left: 3px;
              }
            }
          }
          
        }
        .form-tips {
          width: 438px;
          height: 18px;
          margin: 0 auto 10px;
          display: flex;
          .tips-icon {
            display: flex;
            height: 18px;
            line-height: 18px;
            font-size: 16px;
            color: #000;
            letter-spacing: 1px;
            i {
              display: block;
              width: 18px;
              height: 18px;
              background-repeat: no-repeat;
              background-size: 18px 18px;
              background-image: url('~@/assets/images/xy.png');
              margin-right: 5px;
            }
          }
          .tips-xy {
            display: block;
            height: 18px;
            line-height: 18px;
            font-size: 16px;
            color: #fdb533;
            text-decoration: underline;
            letter-spacing: 1px;
          }
          &.form-tips-active {
            .tips-icon {
              color: #cecece;
              i {
                background-image: url('~@/assets/images/xy_active.png');
              }
            }
            .tips-xy {
              opacity: 0.8;
            }
          }
        }
        
      }
      .kbbox {
        width: 324px;
        height: 432px;
        background-color: #505053;
        li {
          width: 108px;
          height: 108px;
          line-height: 107px;
          text-align: center;
          border-right: 1px solid #5e5e60;
          border-bottom: 1px solid #5e5e60;
          color: #fff;
          float: left;
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          &:nth-child(3),&:nth-child(6),&:nth-child(9) {
            border-right: none;
          }
          &:nth-child(11) {
            border-bottom: none;
          }
          &:last-child {
            font-size: 24px;
            border-right: none;
            border-bottom: none;
          }
          &:nth-child(10){
            font-size: 0;
            border-bottom: none;
            background-image: url('~@/assets/images/delete.png');
            background-size: 33px 21px;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
      .form-btns {
        width: 438px;
        height: 60px;
        margin-top: 40px;
        .regist-btn {
          width: 170px;
          height: 60px;
          button {
            display: block;
            width: 170px;
            height: 60px;
            line-height: 60px;
            background-color: #ffb619;
            text-align: center;
            font-weight: 700;
            font-size: 22px;
            color: #000;
            outline: none;
            border: none;
            letter-spacing: 2px;
            .active {
              background-color: #eee;
              color: #ccc;
            }
          }
        }
      }
    }
    .back-box {
      width: 1008px;
      height: 90px;
      .back-btn {
        width: 90px;
        height: 90px;
        background-image: url('~@/assets/images/back_btn.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
        float: right;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
  }
  .regist-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #20222f;
    text-align: center;
    line-height: 120px;
    color: #fff;
    font-size: 24px;
    span {
      font-weight: 700;
      strong {
        font-size: 40px;
        margin-right: 3px;
      }
    }
  }
}
</style>
