<template>
  <div class="page-macth">
    <div class="macth-content">404</div>
    <div class="back-btn"
      @click.stop="backHome"
    >返回</div>
  </div>
</template>
<script>

export default {
  name: 'nomacth',
  data () {
    return {

    }
  },
  watch: {},

  created () {
   
  },
  mounted () {
   
  },
  methods: {
    backHome () {
      this.$router.push({path: '/'});
    }
  },
  components: {
    
  }
}
</script>
<style lang="scss">
.page-macth {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #ccc;
  .back-btn {
    width: 170px;
    height: 60px;
    line-height: 60px;
    background-color: #ffb619;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    display: block;
  }
  .macth-content {
    font-size: 50px;
    line-height: 100px;
    color: red;
  }
}
</style>
