<template>
  <div id="app">
    <div class="home-box">
      <div class="home-video">
        <!-- banner -->
        <swiper :options="swiperOption">
          <swiper-slide v-for="(image, index) in bannerData.images" :key="index">
            <img :src="image" alt="" @dragstart="dragsImage">
          </swiper-slide>
          <div class="swiper-pagination" slot="pagination"></div>
        </swiper>
      </div>
      <div class="home-bottom">
        设备编号<span>{{equipmentID}}</span>
      </div>
      <div class="home-btn">
        <img src="~@/assets/images/regist_btn.png" alt="" 
          @click.stop="goRegist"
          @mousedown="goRegistDown"
          @mouseup="goRegistUp"
          :class="goRegistClass"
          @dragstart="dragsImage"
        >
      </div>
      <div class="login-btn">
        <img src="~@/assets/images/search_btn.png" alt=""
          @click.stop="goLogin"
          @mousedown="goLoginDown"
          @mouseup="goLoginUp"
          :class="goLoginClass"
          @dragstart="dragsImage"
        >
      </div>
      <div class="home-code">
        <div class="code apple-code">
          <div class="code-img">
            <img :src="codeData[0]" alt="" @dragstart="dragsImage">
          </div>
          <div class="code-txt">
            扫一扫下载掌购APP
          </div>
        </div>
      </div>
      <soft></soft>
    </div>
    <Loading v-show="loadShow" :title="loadTitle"></Loading>
    <router-view/>
  </div>
</template>

<script>
import soft from '@/components/soft'
import Loading from '@/components/loading.vue'
import http from '@/axios/http'
import { mapState, mapGetters} from 'vuex'
export default {
  name: 'App',
  data() {
    return {
      goRegistActive: false,
      goLoginActive: false,
      swiperOption: {
        pagination: {
          el: '.swiper-pagination'
        },
        autoplay: {
          delay: 10000,
          autoplayDisableOnInteraction: false
        },
        effect : 'fade',
        direction: 'horizontal'
      },
      bannerData: {
        images: [],
        equipmentName: ''
      },
      codeData: []
    }
  },
  computed: {
    goRegistClass () {
      return {
        'active': this.goRegistActive
      }
    },
    goLoginClass () {
      return {
        'active': this.goLoginActive
      }
    },
    ...mapState([
      'loadTitle',
      'loadShow',
      'equipmentID'
    ])
  },
  created () {
    if (this.equipmentID) {
      this.postHomeData();
      this.longContect();
    } else {
      this.$alert('请在config文件中配置设备ID', '程序配置错误', {
        confirmButtonText: '确定',
        callback: action => {}
      });
    }
  },
  mounted () {},
  methods: {
    dragsImage (event) {
      event.preventDefault()
    },
    longContect () {
      var longTimer = setInterval(()=> {
        http.$ajax('/equipment/GeEquipmentStatue.do', {
          equipmentName: this.equipmentID
        }).then((response)=> {
         
        })
      },30000)
    },
    postHomeData () {
      http.post('/equipment/GeEquipment.do', {
        name: this.equipmentID
      }).then((result)=> {
        if (parseInt(result.status) === 1 ) {
          this.$nextTick(()=> {
            this.bannerData = result.data.Equipmentdata
            this.codeData = result.data.QRcodedata;
          })
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error)=> {
        this.$message.error(error);
      })
    },
    goRegist () {
      this.$router.push('/regist');
    },
    goRegistDown () {
      this.goRegistActive = true;
    },
    goRegistUp () {
      this.goRegistActive = false;
    },
    goLogin () {
      this.$store.commit({type: 'startLogin'})
    },
    goLoginDown () {
      this.goLoginActive = true;
    },
    goLoginUp () {
      this.goLoginActive = false;
    }
  },
  components: {
    soft,
    Loading
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Microsoft YaHei';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  .home-box {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    .home-video {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      .swiper-container-horizontal>.swiper-pagination-bullets {
        width: 14px;
        height: 200px;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: 850px;
      }
      .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 10px 0;
      }
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            img {
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
            }
          }
          .swiper-pagination-bullet {
            opacity: 0.5;
          }
        }
        .swiper-pagination-bullet {
          width: 14px;
          height: 14px;
          background: #fff;
        }
        .swiper-pagination-bullet-active {
          background: #fff;
        }
      }
    }
    .home-bottom {
      display: block;
      width: 220px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      top: 24px;
      right: 0;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      z-index: 1;
      span {
        font-weight: 700;
      }
    }
    .home-btn {
      width: 172px;
      height: 172px;
      position: absolute;
      right: 70px;
      bottom: 35px;
      z-index: 1;
      img {
        width: 172px;
        height: 172px;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: scale(0.9);
        }
      }
    }
    .login-btn {
      width: 134px;
      height: 134px;
      position: absolute;
      right: 300px;
      bottom: 35px;
      z-index: 1;
      img {
        width: 134px;
        height: 134px;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: scale(0.9)
        }
      }
    }
    .home-code {
      height: 230px;
      width: 200px;
      position: absolute;
      left: 30px;
      bottom: 35px;
      z-index: 1;
      .code {
        width: 200px;
        height: 230px;
        float: left;
        padding: 10px 10px 0;
        background: #fff;
        .code-img {
          width: 180px;
          height: 180px;
          background: #ccc;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .code-txt {
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 14px;
          color: #333;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 5px;
            height: 24px;
          }
          span {
            display: block;
            height: 24px;
            line-height: 24px;
          }
        }
        &.apple-code {
          .code-txt {
            i {
              width: 20px;
              background-image: url('~@/assets/images/apple_code.png');
            }
            span {
              line-height: 27px;
            }
          }
        }
         &.android-code {
          .code-txt {
            i {
              width: 21px;
              background-image: url('~@/assets/images/android_code.png')
            }
          }
        }
      }
    }
  }
}
</style>
